Welcome to AWS SDK for C++'s documentation!
===========================================

Contents:

.. toctree::
   :maxdepth: 2

   core
   libs
   clients


Indices and tables
==================

* :ref:`search`